<div class="row">
    <div class="col-md-4 panel-group navcont" *ngIf="currentUser">
        <div class="panel panel-default">
            <div class="panel-heading">This page is about {{currentUser.username}}</div>
            <div class="panel-heading">{{currentUser.photo}}</div>
            <div class="panel-body">{{currentUser.username}}</div>
        </div>
        <div class="list-group unstyled">
            <ul class="admin-menu">
                <li class="list-group-item"><a routerLink="members" routerLinkActive="active">{{ 'Members' | translate }}</a></li>
                <li class="list-group-item"><a routerLink="hotelrooms" routerLinkActive="active">{{ 'Rooms' | translate }}</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-8 content">
        <router-outlet>

        </router-outlet>
    </div>
</div>